.container__body {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.container__main {
    width: 800px; 
    max-width: 100%;
    background-color: rgb(138, 224, 255);
    /* z-index: 1; */
}
/* Tương thích căn giữa nếu màn hình == (min-width: 800px) and (max-width: 1050px)  */
@media screen and (min-width: 800px) and (max-width: 1050px) {
    .container__main {
        margin: auto;
    }
}

.container__sub {
    background-color: var(--container-color);
    flex: 1;
    box-shadow: -.1px 1px 1px rgb(0, 149, 255);
    height: max-content;
}
/* Tương thích với màn hình lớn hơn 1050px */
@media screen and (min-width: 1050px) {
    .container__sub {
        overflow: auto;
        height: var(--container-height);
    }
    
}

.watch__heading-film {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    background-color: black;
}
.watch__heading-film iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

.watch__heading-title {
    font-size: 1.6rem;
    font-weight: 600;
    color: rgb(0 93 197);
    background-color: rgb(69 205 255);
    height: 50px;
    display: flex;
    align-items: center;
    padding: 16px 16px;
    box-shadow: 0 .2px 1px blue;
}
/* #00defe */
.watch__body {
    /* background-color: rgb(138, 224, 255); */
    width: 100%;
    box-sizing: border-box;
    /* border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; */
    padding: 0 8px;
    /* box-shadow: 0 .2px 1px blue; */
}

.watch__body-episode {
    justify-content: space-between;
}

.episode-item {
    margin: 8px;
    font-size: 1.4rem;
    text-align: center;
    cursor: pointer;
    line-height: 2.2rem;
    color: var(--white-color);
    border-radius: 2px;
    background-color: rgb(0, 143, 239);
    width: 64px;
}

.episode-item:hover {
    background-color: rgb(0, 93, 165);
}
